<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMmXEtbh06RsVFZibHAB-tIyn-i9G4Djs</string>
	<key>GCM_SENDER_ID</key>
	<string>140888341473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.khatApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>khatplatform</string>
	<key>STORAGE_BUCKET</key>
	<string>khatplatform.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140888341473:ios:de6ae954a27f8782ff30a0</string>
</dict>
</plist>